* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: #f8f9fc;
  height: 100%;
}

.container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 40%;
}

.content {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
  font-weight: bold;
}

/* Header */

header{
  display: grid;
  min-height: 50px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  animation: 1s ease-out 0s 1 slide;
  z-index: 100;
  margin-bottom: 30px;
}


@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-background {
  grid-column: 1/21;
  height: 100%;
  grid-row: 1/2;
  background-color: white;
}

/* Menu */

.logo {
  grid-column: 3/5;
  grid-row: 1/2;
  max-width: 80%;
  position: relative;
}

.menu {
  grid-column: 3/19;
  grid-row: 1/2;
  list-style-type: none;
  margin: 0px;
  background-color: white;
}

.menu li {
  float: right;
}

.menu li a {
  line-height: 1.5;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.fa-bell {
  color: #bec9da;
}

.fa-bell:hover {
  color: #959cae;
}

.first-letter {
    display: block;
    background: orange;
    color: white;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    height: 25px;
}

#click-toggle {
  display: none;
}

#click-toggle:checked~div.dropdown-content{
  visibility:visible;
}

/* Dropdown */

.dropdown-content {
  pointer-events: auto;
  min-width: 150px;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  padding: 5px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0;
  margin-right:10%;
}

.dropdown-content a {
  font-size: 90%;
  padding: 1px 2px;
  text-decoration: none;
  display: block;
}

.menu-item-name{
  font-size: 80%;
  color: #b0b1b3;
  border-bottom: 1px solid #b0b1b3;
  text-align: center;
}

.menu-item-name:hover{
  cursor: default;
}

.menu-item {
  color: black;
}

.menu-item:hover {
  background-color: #f1f3f7;
}

/* Grid items */

/* Binary card */

.binary-block {
  grid-column: 3/7;
  grid-row: 1/5;
}

.academy-logo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.binary-button {
  background-color: #298ffe;
  border: none;
  color: #ffffff;
  text-align: center;
  width: 45%;
  height: 18%;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 2vw;
}

.binary-button:hover {
  cursor: pointer;
  background-color: #033b98;
}

.binary-block-inner {
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.binary-block-front, .binary-block-back {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.binary-block:hover .binary-block-inner {
  transform: rotateX(180deg);
}

.binary-block-front, .binary-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.binary-block-back {
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}

/* QA card */

.qa-block {
  grid-column: 3/7;
  grid-row: 5/9;
}

.qa-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.qa-block-front {
  background-color: #52bf77;
  font-weight: normal;
  color: #ffffff;
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qa-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.5vw;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.qa-block-front, .qa-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.qa-block:hover .qa-block-inner {
  transform: rotateY(180deg);
}

/* JS card */

.js-block {
  grid-column: 7/11;
  grid-row: 1/7;
}

.js-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.js-block-front {
  background-color: #f6c95f;
  font-weight: normal;
  color: #000000;
  font-size: 7vw;
  font-weight: 600;
  padding-right: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.js-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.5vw;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.js-block-front, .js-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.js-block:hover .js-block-inner {
  transform: rotateY(-180deg);
}

/* Java card */

.java-block {
  grid-column: 7/11;
  grid-row: 7/9;
}

.java-block-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.java-block-front {
  background-color: #e12b4c;
  font-weight: normal;
  color: #ffffff;
  font-size: 3vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.java-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.5vw;
  background-color: white;
  color: black;
  opacity: 0;
}

.java-block-front, .java-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.java-block:hover .java-block-back {
  transition: opacity 0.5s linear;
  opacity: 1;
}

/* PHP card */  

.php-block {
  grid-column: 11/19;
  grid-row: 1/4;
}

.php-block-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.php-block-front {
  background-color: #8893c0;;
  font-weight: normal;
  font-style: italic;
  color: #000000;
  font-size: 6vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.php-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.5vw;
  background-color: white;
  color: black;
  opacity: 0;
}

.php-block-front, .php-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.php-block:hover .php-block-back {
  transition: opacity 0.5s linear;
  opacity: 1;
}

/* .NET card */

.dotnet-block {
  grid-column: 11/16;
  grid-row: 4/9;
}

.dotnet-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.dotnet-block-front {
  background-color: #642077;
  font-weight: normal;
  color: #ffffff;
  font-size: 6vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotnet-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.3vw;
  background-color: white;
  color: black;
  transform: rotateX(-180deg);
}

.dotnet-block-front, .dotnet-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dotnet-block:hover .dotnet-block-inner {
  transform: rotateX(-180deg);
}

/* Events card */

.events-block {
  grid-column: 16/19;
  grid-row: 4/6;
}

.events-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.events-block-front {
  background-color: #2d99ff;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.2vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.3vw;
  background-color: white;
  color: black;
  opacity: 0;
  overflow: scroll;
}

.events-block-front, .events-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.events-block:hover .events-block-back {
  transition: opacity 0.5s linear;
  opacity: 1;
}

/* Blog card */

.blog-block {
  grid-column: 16/19;
  grid-row: 6/8;
}

.blog-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.blog-block-front {
  background-color: #0443a3;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.2vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-block-back {
  text-align: left;
  padding: 5%;
  font-size: 1.3vw;
  background-color: white;
  color: black;
  transform: rotateX(-180deg);
}

.blog-block-front, .blog-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog-block:hover .blog-block-inner {
  transform: rotateX(-180deg);
}

/* Contacts card */

.contacts-block {
  grid-column: 16/19;
  grid-row: 8/9;
}

.contacts-block-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.contacts-block-front {
  background-color: #00255f;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.2vw;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-block-back {
  text-align: left;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  background-color: white;
  color: black;
  transform: rotateX(-180deg);
}

.contacts-block-back i{
  margin-right: 5%;
}

.contacts-block-back i:hover {
  cursor: pointer;
  color: #2491ff;
  margin-right: 5%;
}

.contacts-block-front, .contacts-block-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contacts-block:hover .contacts-block-inner {
  transform: rotateX(-180deg);
}

/* Mobile */

@media screen and (max-width: 600px) {
  .container {
    padding-bottom: 90%;
  }
  
  .content {
      grid-template-rows: repeat(18, 1fr);
  }
  
  .logo {
    grid-column: 2/4;
  }
   
  .menu {
    grid-column: 2/20;
  }
  
  .dropdown-content {
    margin-right: 5%;
  }
  
  .binary-block {
    grid-column: 2/10;
    grid-row: 1/9;
  }
  
  .js-block {
    grid-column: 10/16;
    grid-row: 1/9;
  }
  
  .java-block {
    grid-column: 2/11;
    grid-row: 9/13;
  }
  
  .qa-block {
    grid-column: 2/11;
    grid-row: 13/17;
  }
  
  .events-block {
    grid-column: 16/20;
    grid-row: 1/4;
  }
  .blog-block {
    grid-column: 16/20;
    grid-row: 4/7;
  }
  
  .contacts-block {
    grid-column: 16/20;
    grid-row: 7/9;
  }
  
   .php-block {
    grid-column: 11/20;
    grid-row: 9/13;
  }
  
  .dotnet-block {
    grid-column: 11/20;
    grid-row: 13/17;
  }
}


/* Footer */

footer {
  padding-top: 200px;
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  z-index: -1;
}

/* Notifications */

.notifications-block {
  bottom: 5px;
  right: 10px;
  position: absolute;
  max-width: 200px;
}

.notification {
  width: 100%;
  margin-bottom: 10px;
  height: auto;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgba(179,58,58,0.9);
  vertical-align: middle;
  display: table;
}

.notification-icon {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  height: 100%;
  display: table-cell;
  padding-right: 15px;
}

.notification-text {
  display: table-cell;
}

.notification  p:first-child{
  font-weight: bold;
}

.notification p {
  font-size: px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
}

.notification:nth-child(2) {
  background-color: rgba(75,181,67, 0.9);
}

.notification:nth-child(3) {
  background-color: rgba(255,160,69, 0.9);
}